<section class="contact-container">
  <div class="contact-details">
    <h2 data-aos="zoom-out" data-aos-duration="2000">Contact</h2>
    <!-- Existing contact details -->
    <p data-aos="flip-left" data-aos-duration="2000"><i class="fas fa-envelope"></i> <a href="mailto:{{ email }}">{{ email }}</a></p>
    <p data-aos="flip-right" data-aos-duration="2000"><i class="fas fa-phone"></i> <a href="tel:+9834268079">(+91) 9834268079</a></p>
    <p data-aos="flip-left" data-aos-duration="2000"><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/in/harshal-sakhale-03" target="_blank">linkedin.com/in/harshal-sakhale-03</a></p>
    <p data-aos="flip-right" data-aos-duration="2000"><i class="fab fa-github"></i> <a href="https://github.com/harshal-hs03" target="_blank">github.com/harshal-hs03</a></p>
    <!-- Add more contact details as needed -->
  </div>

  <!-- New content container -->
  <div class="contact-side-content" data-aos="zoom-in-right" data-aos-duration="2000">
    <!-- Image -->
    <img src="assets/avatar-1.jpeg" alt="Your Image" class="contact-image">

    <!-- Download Resume button -->
    <a href="assets/Harshal's Resume.pdf" download class="download-resume-button">Download Resume</a>
  </div>

</section>

<div class="creative-section" data-aos="fade-up" data-aos-duration="2000">
  <h3>Let's Connect!</h3>
  <p>Feel free to reach out to discuss collaborations, projects, or just to say hello!</p>
</div>
