<!-- home.component.html -->
<app-header></app-header>
<div [ngClass]="{ 'dark-theme': themeService.darkTheme$ | async }">
<section id="home">
  <!-- Your home content goes here -->
  <!-- <app-header></app-header> -->
  <div class="brief-description">
    <!-- <div class="brief-description" data-aos="fade-up"
    data-aos-anchor-placement="top-center" data-aos-duration="2500"> -->
    <h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Hello, I'm Harshal Sakhale</h1>
    <p data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">Welcome to my portfolio website. I am a passionate software engineer with 4+ years of experience in Java full stack development. Explore my projects and skills below!</p>
  </div>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="skills">
  <!-- <section id="skills" data-aos="fade-up-right" data-aos-duration="2000" data-aos-offset="500"></section> -->
  <!-- Your skills content goes here -->
  <app-skills></app-skills>
</section>

<section id="projects">
  <!-- Your projects content goes here -->
  <app-projects></app-projects>
</section>

<section id="contact">
  <!-- Your contact content goes here -->
  <app-contact></app-contact>
</section>
</div>
